:root {
  /* Light theme colors */
  --bg: #f7f0e0;
  --fg: #331a00;
  --muted: #a89b78;
  --border: #d4c698;
  --accent: #8b0000;
  --card-bg: #fff8eb;
  --accent-focus: #aa6c39;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme colors for media query */
    --bg: #1a150f;
    --fg: #f7f0e0;
    --muted: #a89b78;
    --border: #5c5548;
    --accent: #ffc977;
    --card-bg: #2b2317;
    --accent-focus: #ffc977;
  }
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family:
        system-ui,
        -apple-system,
        Segoe UI,
        Roboto,
        Ubuntu,
        Cantarell,
        Noto Sans,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji";
    color: var(--fg);
    background: var(--bg);
}

a {
    color: var(--accent);
}

button,
input,
select {
    font: inherit;
    color: inherit;
}
